.gitattributes  export-ignore
README.md       export-ignore
VALIDATION.md   export-ignore
bin/            export-ignore
ref/            export-ignore
shadersrc/      export-ignore
build.ps1       export-ignore
